<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" />
</head>

<body>
    <div class="page">
        <!-- <img class="fgj-1-icon" alt="" src="../static/bg.jpg"  style="z-index: -1; "/> -->

        <header class="main-frame">
            <div class="child-frame">
                <div class="vector-frame">
                    <img class="text-node-icon" loading="eager" alt="" src="../static/logo.png" />
                </div>
                <div class="factfinder">FactFinder</div>
            </div>
            <div class="home-frame">
                <a class="home" href="/home" style="color: black;">
                    Home
                </a>
                <a class="factchecker" href="/factchecker">
                    FactChecker
                </a>
            </div>
        </header>
        <div class="welcome-frame">
            <div class="welcome-to-factfinder">Welcome to FactFinder</div>
            <div class="your-ultimate-fake-container">
                <span>Your Ultimate</span>
                <span class="span"> </span>
                <span class="fake-news">Fake News </span>
                <span>Detection Hub</span>
            </div>
            <div class="in-a-world-where-misinformatio-parent">
                <div class="in-a-world">
                    In a world where misinformation spreads like wildfire, discerning
                    fact from fiction has never been more crucial.
                </div>
                <button class="button-frame">
                    <a class="get-started-for" href="/factchecker">Get Started for Free</a>
                </button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-part1">
            <h1>
                Help Us Improve by giving your Feedback 
            </h1>
            <h3>Your Feedback helps us develop even more, write to us to let us know</h3>
            <div class="button-frame">
                Write Us
            </div>
        </div>
        <div class="footer-part2">
            <img class="footer-logo" src="../static/logo.png" alt="">
            <h3>
                FactFinder
            </h3>
            <h4>
                HackaNova Hackathon, Thakur College, Kandivali
16th Feb 2024
            </h4>
        </div>

    </div>
</body>

</html>